body {
  background-color: tan;
}


h1{
  width: 90%;
  margin-right: auto;
  margin-left:  auto;
  color: #000077;
  font-family: fantasy;
  font-size: 72px;
  text-align: center;
  background-color: rgb( 160, 40, 0);
}


img,
p {
  width: 70%;
  max-width: 1000px;
  min-width: 500px;
  margin: 0 auto 0 auto;
}

img{
  height: auto;
  display: block;
}

p {
  font-family: cursive;
  margin-top: 2em;
}

a {
  margin: 2em auto 4em auto;
  display: table;
  color: white;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em;
  background-color: black;
}

a:hover{
  background-color: red;
}

a:active{
  background-color: blue; 
}
