body {
  background-color: tan;
}


h1{
  color: #008800;
  font-family: fantasy;
  font-size: 72px;
  text-align: center;
  background-color: rgb( 0, 69, 80);
}

img{
  width: 100%;
  max-width: 1000px;
  min-width: 500px;
  height: auto;
  margin: 0 auto 0 auto;
  display: block;
}
